/* Responsive layout - when screen is less than 600px wide */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .col-25,
  .col-75 {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
    margin-left: 0;
  }
}
